language: python
python:
- 3.6
- 3.7
- 3.8
install:
- pip install -r requirements-dev.txt
- pip install .
- pip install -e git+https://github.com/napalm-automation/napalm.git@develop#egg=napalm
script:
- py.test